@using Entities.Concrete
@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th> 
                    <th>Image</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>isFull</th>
                    <th>Description</th>
                    <th>Daily Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                            <tr>
                                <td>@item.Id</td>
                                <td><img src="/src/img/hotelimg/@item.Image" /></td>
                                <td>@item.Name</td>
                                <td>@item.City</td>
                                <td><input type="checkbox" asp-for="@item.IsFull" class="from-control float-end form-check-input" disabled/></td>
                                <td>@item.Description</td>
                                <td>@item.DailyPrice</td>
                            </tr>
                }
            </tbody>
        </table>
    </div>
</div>